{
    "plugins": [
        "eslint-plugin-html"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "no-trailing-spaces": [
            2,
            {
                "skipBlankLines": true
            }
        ],
        "indent": [
            2,
            4
        ]
    }
}
