html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body {
    background: #abc url('grey.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Helvetica Neue", Helvetica;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Arial'
}

#app {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 40px 80px;
    border-radius: 10px;

    background: white;
}

.expand-transition {
    transition: opacity 0.1s ease;
}
.expand-enter, .expand-leave {
    opacity: 0;
}
